body{
    width: 95vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #00475fff, #444444ff);
    font-family: 'Montserrat', sans-serif;
}

.h-100{
    height: 100vh !important;
}

/* Text */
.ml{
    margin-left: 25%;
}

.mt{
    margin-top: 30px;
}

#logo{
    font-weight: bold;
    font-size: 30px;
    color: rgb(95, 2, 0);
}

#addition{
    color: rgb(177, 177, 177);
    letter-spacing: 1.5px;
    font-size: 14px;
}

a{
    border-radius: 50px;
    padding: 7px 30px;
    color: black;
    background-color: #860000ff;
    border-color: transparent;
    font-family: 'Days One', sans-serif;
}
a:hover{
    text-decoration: transparent;
    color: black;
}

a .arrow-right {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

    margin-right: 10px;
    margin-left: 0;

    transition: margin-right 1s ease,
                margin-left 1s ease;
}

a:hover .arrow-right{
    margin-right: 17px;
    margin-left: -7px;
    animation: arrow 1s ease infinite;
}

@keyframes arrow{
    0%{
        margin-right: 10px;
        margin-left: 0px;
    }
    50%{
        margin-right: 17px;
        margin-left: -7px;
    }
    100%{
        margin-right: 10px;
        margin-left: 0px;
    }
}

/* Computer */

#screen{
    height: 25vh;
    width: calc(25vh / 4 * 7);
    background: #d6d6d6ff;
    border: 0.3vh solid black;
    border-radius: 5px;
    font-size: 3vh;
}

#pre-base{
    height: 10px;
    width: 20px;
    background-color: black;
    transform: translateX(650%);
}

#base{
    height: 5px;
    width: 50px;
    background: black;
    transform: translateX(230%);
    border-radius: 2px;
}


#screen .container, #screen .row, #screen [class*=' col-']{
    height: 5vh;
}

#screen ul{
    padding: 1vh 0;
    margin: 0;
    list-style: none;
    background: transparent;
    font-size: 1vh;
}

#screen ul li.brand{
    float: left;
}

#screen ul li{
    margin: 0 10px;
    float: right;
}

#screen ul li a{
    background: transparent;
    margin: 0;
    padding: 0;
}

#screen img{
    height: 5vh;
    width: auto;
    margin: 0;
    padding: 0;
}

#screen .space{
    height: 3vh;
}

#screen .twitch-player{
    height: 6.4vh;
    width: 150px !important;
    background-color: #6441A4;
    font-size: 1vh;
    color: #ffffff;
}

#screen .twitch-player *{
    display: inline-block;
    vertical-align: top;
    margin: inherit;
    margin-top: 1vh;
}

#screen .twitch-player img{
    height: 2.5vh;
    width: auto;
}

#screen .twitch-player span{
    padding-left: 5px;
}

@media (max-width: 767px) {
    .ml {
        margin-left: 0px;
        text-align: center;
    }
    #computer{
        width: 100%;
        margin-left: 20%;
    }
  }