body{
    background: rgb(22,25,25); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(22,25,25,1) 0%, rgba(33,33,33,1) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(22,25,25,1) 0%,rgba(33,33,33,1) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(22,25,25,1) 0%,rgba(33,33,33,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#161919', endColorstr='#212121',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.main{
    height: 100vh;
}
.main h1{
    font-family: 'Days One', sans-serif;
    color: rgb(202, 202, 202);
    font-weight: 500;
    font-size: 250%;
    font-style: italic;

    text-shadow: 1px 2px 3px black;
}

.img-tracer{
    position: absolute;
    bottom: 10px;
    left: 10%;
    height: 30%;

    filter: brightness(50%);

    animation: flottant 3s infinite ease-in-out;
}

.games{
    height: 150px;
    width: 100%;
    color: rgb(209, 209, 209);
}

.games i{
    color: rgb(209, 209, 209);
    animation: bright 5s infinite ease-in-out;
}

@keyframes bright{
    0%{
        color: rgb(209, 209, 209);
    }
    50%{
        color: rgb(0, 138, 23);
        text-shadow: 0px 0px 5px rgb(0, 138, 23);
    }
    100%{
        color: rgb(209, 209, 209);
    }
}

@keyframes flottant{
    0%{
        padding-top: 0px;
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        padding-top: 0px;
    }
}