body{
    background: rgb(61, 61, 61) !important;
}

.navbar{
    padding-top: 50px;
}

.navbar img{
    filter: brightness(150%);
}

.navbar a{
    color: rgb(177, 177, 177);
    margin: 0 20px;
    font-family: 'Nanum Gothic', sans-serif;
    
    transition: color 0.2s ease;
}
.navbar a:hover{
    color: #e67e22;
}

.navbar .bouton{
    margin-left: 20px;
}

.navbar .bouton a{

    padding: 10px 20px;

    border: 1px solid #e67e22;
    border-radius: 50px;

    color: #e67e22;
    background-color: transparent;

    vertical-align: top;

    transition: color 0.2s ease,
                background-color 0.2s ease;
} 

.navbar .bouton a:hover {
    color: rgb(255, 255, 255);
    background-color: #e67e22;
}